<%= form_for(@cliente, html: { class: "form-horizontal container", "role" => "form" }) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label "Nome:", class: "col-sm-0 control-label" %><br />
    <%= f.text_field :nome, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Endereço:", class: "col-sm-0 control-label"  %><br />
    <%= f.text_field :endereco, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Bairro:", class: "col-sm-0 control-label"  %><br />
    <%= f.text_field :bairro, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Cidade:", class: "col-sm-0 control-label"  %><br />
    <%= f.text_field :cidade, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Estado:", class: "col-sm-0 control-label"  %><br />
    <%= f.text_field :uf, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "CEP:", class: "col-sm-0 control-label"  %><br />
    <%= f.text_field :cep, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "RG:", class: "col-sm-0 control-label" %><br />
    <%= f.text_field :rg, class: "form-control" %>
  </div>
  <div class="form-group">
      <%= f.label "CPF:", class: "col-sm-0  control-label" %><br />
      <%= f.text_field :cpf, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "E-mail:", class: "col-sm-0 control-label"  %><br />
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
      <%= f.label "Telefone:", class: "col-sm-0 control-label" %><br />
      <%= f.text_field :telefone, class: "form-control" %>
  </div>
  <div class="form-group">
      <%= f.label "Celular:", class: "col-sm-0 control-label" %><br />
      <%= f.text_field :celular, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Data da Nascimento:", class: "col-sm-0 control-label" %><br />
    <%= f.date_select :nascimento, {:order => [:day,:month,:year], :use_two_digit_numbers => true, :date_separator => '/', :start_year => Date.today.year - 80, :end_year => Date.today.year}, {class: "col-sm-0"} %>
  </div>
  <div class="form-group">
      <%= f.label "Nacionalidade:", class: "col-sm-0 control-label" %><br />
      <%= f.text_field :nacionalidade, class: "form-control" %>
  </div>
  <div class="form-group">
      <%= f.label "Nome do Pai:", class: "col-sm-0 control-label" %><br />
      <%= f.text_field :pai, class: "form-control" %>
  </div>
  <div class="form-group">
      <%= f.label "Nome da Mãe:", class: "col-sm-0 control-label" %><br />
      <%= f.text_field :mae, class: "form-control" %>
  </div>
  <div class="form-group">
      <%= f.label "Profissão:", class: "col-sm-0 control-label" %><br />
      <%= f.text_field :profissao, class: "form-control" %>
  </div>
  <div class="form-group">
    <br /><%= f.submit "Cadastrar", class: "btn btn-default" %>
  </div>
<% end %>
