<h1>Lista de Clientes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Telefone</th>
      <th>Celular</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nome %></td>
        <td><%= cliente.telefone %></td>
        <td><%= cliente.celular %></td>
        <td><%= button_to "Abrir a Ficha", cliente, :class => "btn btn-default btn-xs", :method => :get  %></td>
        <td><%= button_to "Editar Dados", edit_cliente_path(cliente), :class => "btn btn-default btn-xs", :method => :get %></td>
        <td><%= button_to "Excluir Cliente", cliente, :class => "btn btn-default btn-xs", :method => :delete, data: { confirm: "Tem certeza que deseja excluir o cliente #{cliente.nome}? Fazer isso excluirá todos os alunos vinculados." } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<b>Total de clientes cadastrados: <%= @clientes.size %></b>

<br /><br />

<%= button_to 'Cadastrar Novo Cliente', new_cliente_path, :class => "btn btn-default", :method => :get   %>