<div class="page-header">
  <h2>Lista de Clientes <small>// clientes cadastrados: <%= Cliente.where(ativo: true).size %></small></h2>
</div>

<%= form_tag request.path, :method => 'get' do %>
  <%= content_tag :label do %>
    <%= text_field_tag :search, params[:search], :class => "form-control" %>
  <% end %>
  <%= submit_tag 'Buscar', :class => "btn btn-primary" %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nº</th>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Celular</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.id %></td>
        <td><%= cliente.nome %></td>
        <td><%= cliente.telefone %></td>
        <td><%= cliente.celular %></td>
        <td><%= button_to "Abrir a Ficha", cliente, :class => "btn btn-primary btn-xs", :method => :get  %></td>
        <td><%= button_to "Editar Dados", edit_cliente_path(cliente), :class => "btn btn-primary btn-xs", :method => :get %></td>
        <td><%= button_to "Excluir Cliente", alterna_cliente_path(cliente), :class => "btn btn-primary btn-xs", :method => :get, data: { confirm: "Tem certeza que deseja excluir o cliente #{cliente.nome}? Fazer isso excluirá todos os alunos vinculados." } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @clientes, class: "pagination", previous_label: "<<", next_label: ">>", renderer: BootstrapPagination::Rails %>

<br />

<%= button_to 'Cadastrar Novo Cliente', new_cliente_path, :class => "btn btn-primary", :method => :get   %>