<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Cliente:</th>
      <th>Endereço:</th>
      <th>RG:</th>
      <th>CPF:</th>
      <th>Telefone:</th>
      <th>Celular:</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @cliente.nome %></td>
        <td><%= @cliente.endereco %></td>
        <td><%= @cliente.rg %></td>
        <td><%= @cliente.cpf %></td>
        <td><%= @cliente.telefone %></td>
        <td><%= @cliente.celular %></td>
      </tr>
  </tbody>
</table>

<% @alunos = get_clientes(@cliente.id) %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Alunos Vinculados:</th>
      <th>Curso:</th>
      <th>Valor Mensal:</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% valor_total = 0 %>
    <% @alunos.each do |aluno| %>
      <% aluno.matriculas.each do |matricula| %>
        <tr>
          <td><%= aluno.nome %></td>
          <td><%= matricula.curso.nome %></td>
          <td>R$ <%= matricula.valor_mensal %>0</td><% valor_total = valor_total + matricula.valor_mensal %>
          <td><%= link_to 'Mostrar', aluno_path(aluno) %></td>
          <td><%= link_to 'Editar', edit_aluno_path(aluno) %></td>
          <td><%= link_to 'Excluir', aluno, method: :delete, data: { confirm: "Tem certeza que deseja excluir o aluno #{aluno.nome}?" } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<b>Mensalidade Total: R$ <%= valor_total %>0</b><br /><br />

<%= link_to 'Editar Cliente', edit_cliente_path(@cliente) %> |
<%= link_to 'Voltar', clientes_path %>
