<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Cliente:</th>
      <th>Endereço:</th>
      <th>RG:</th>
      <th>CPF:</th>
      <th>Telefone:</th>
      <th>Celular:</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td></td>
        <td>INCLUIR NOME PROFESSOR</td>
        <td>INCLUIR NOME ALUNO</td>
        <td><%= link_to 'Editar', edit_horario_path(horario) %></td>
        <td><%= link_to 'Excluir', horario, method: :delete, data: { confirm: "Tem certeza que deseja excluir o horario #{horario.horario}?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <strong>Cliente:</strong>
  <%= @cliente.nome %>
</p>

<p>
  <strong>Crypted password:</strong>
  <%= @cliente.endereco %>
</p>

<p>
  <strong>RG:</strong>
  <%= @cliente.rg %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @cliente.cpf %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @cliente.telefone %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @cliente.celular %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
