<div class="page-header"></div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> <b><%= @cliente.nome.upcase %></b>
    </h3>
  </div>
    <ul class="list-group">
      <li class="list-group-item"><b>Matrícula nº:</b> <%= @cliente.id %></li>
      <li class="list-group-item"><b>Endereço:</b> <%= @cliente.endereco %></li>
      <li class="list-group-item"><b>Bairro:</b> <%= @cliente.bairro %></li>
      <li class="list-group-item"><b>Cidade:</b> <%= @cliente.cidade %></li>
      <li class="list-group-item"><b>Estado:</b> <%= @cliente.uf %></li>
      <li class="list-group-item"><b>CEP:</b> <%= @cliente.cep %></li>
      <li class="list-group-item"><b>RG:</b> <%= @cliente.rg %></li>
      <li class="list-group-item"><b>CPF:</b> <%= @cliente.cpf %></li>
      <li class="list-group-item"><b>E-mail:</b> <%= @cliente.email %></li>
      <li class="list-group-item"><b>Telefone:</b> <%= @cliente.telefone %></li>
      <li class="list-group-item"><b>Celular:</b> <%= @cliente.celular %></li>
      <li class="list-group-item"><b>Nascimento:</b> <%= I18n.l(@cliente.nascimento.to_date) %></li>
      <li class="list-group-item"><b>Nome do Pai:</b> <%= @cliente.pai %></li>
      <li class="list-group-item"><b>Nome da Mãe:</b> <%= @cliente.mae %></li>
      <li class="list-group-item"><b>Nacionalidade:</b> <%= @cliente.nacionalidade %></li>
      <li class="list-group-item"><b>Profissão:</b> <%= @cliente.profissao %></li>
    </ul>
</div>

<% @alunos = get_clientes(@cliente.id) %>
<% if @alunos.size > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Alunos Vinculados:</th>
        <th>Curso:</th>
        <th>Valor Mensal:</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% valor_total = 0 %>
      <% @alunos.each do |aluno| %>
        <% aluno.matriculas.each do |matricula| %>
          <tr>
            <td><%= aluno.nome %></td>
            <td><%= matricula.curso.nome %></td>
            <td><%= number_to_currency(matricula.valor_mensal) %></td><% valor_total = valor_total + matricula.valor_mensal %>
            <td><%= button_to 'Abrir Ficha', aluno_path(aluno), :class => "btn btn-primary btn-xs", :method => :get %></td>
            <td><%= button_to 'Editar Dados', edit_aluno_path(aluno), :class => "btn btn-primary btn-xs", :method => :get %></td>
            <td><%= button_to 'Excluir', aluno, :class => "btn btn-primary btn-xs", :method => :delete, data: { confirm: "Tem certeza que deseja excluir o aluno #{aluno.nome}?" } %></td>
          </tr>
        <% end %>
      <% end %>

  <% unless valor_total == 0 %>
    <b>Mensalidade Total: <%= number_to_currency(valor_total) %></b><br /><br />
  <% else %>
    <tr><td>Alunos vinculados ainda não foram matriculados em cursos.</td></tr>
  <% end %>
    </tbody>
  </table>
<% end %>

<div style="float: left; margin-right: 10px;">
  <%= button_to 'Editar Cliente', edit_cliente_path(@cliente), :class => "btn btn-primary", :method => :get %>
</div>
<div style="float: left;">
<%= button_to 'Voltar', clientes_path, :class => "btn btn-primary", :method => :get %>
</div>