<div class="page-header"></div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> <b><%= @cliente.nome.upcase %></b>
    </h3>
  </div>
    <ul class="list-group">
      <li class="list-group-item"><b>Cliente nº:</b> <%= @cliente.id %></li>
      <li class="list-group-item"><b>Endereço:</b> <%= @cliente.endereco %></li>
      <li class="list-group-item"><b>Bairro:</b> <%= @cliente.bairro %></li>
      <li class="list-group-item"><b>Cidade:</b> <%= @cliente.cidade %></li>
      <li class="list-group-item"><b>Estado:</b> <%= @cliente.uf %></li>
      <li class="list-group-item"><b>CEP:</b> <%= @cliente.cep %></li>
      <li class="list-group-item"><b>RG:</b> <%= @cliente.rg %></li>
      <li class="list-group-item"><b>CPF:</b> <%= @cliente.cpf %></li>
      <li class="list-group-item"><b>E-mail:</b> <%= @cliente.email %></li>
      <li class="list-group-item"><b>Telefone:</b> <%= @cliente.telefone %></li>
      <li class="list-group-item"><b>Celular:</b> <%= @cliente.celular %></li>
      <li class="list-group-item"><b>Nascimento:</b> <%= I18n.l(@cliente.nascimento.to_date) %></li>
      <li class="list-group-item"><b>Nome do Pai:</b> <%= @cliente.pai %></li>
      <li class="list-group-item"><b>Nome da Mãe:</b> <%= @cliente.mae %></li>
      <li class="list-group-item"><b>Nacionalidade:</b> <%= @cliente.nacionalidade %></li>
      <li class="list-group-item"><b>Profissão:</b> <%= @cliente.profissao %></li>
    </ul>
</div>

<%= render 'alunos_vinculados' %>

<div style="float: left; margin-right: 10px;">
  <%= button_to 'Editar Cliente', edit_cliente_path(@cliente), :class => "btn btn-primary", :method => :get %>
</div>
<div style="float: left;">
<%= button_to 'Voltar', clientes_path, :class => "btn btn-default", :method => :get %>
</div>