<div class="page-header">
  <h1>Lista de Notificações <small>// total de notificações: <%= @total %></small></h1>
</div>

<%= form_tag request.path, :method => 'get' do %>
  <%= content_tag :label do %>
    <%= text_field_tag :search, params[:search], :class => "form-control" %>
  <% end %>
  <%= submit_tag 'Buscar', :class => "btn btn-primary" %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Notificação</th>
    </tr>
  </thead>

  <tbody>
    <% @notificacoes.each do |notificacao| %>
      <tr>
        <td><%= notificacao.tipo %></td>
        <td><%= notificacao.conteudo %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br /><br />

<%= will_paginate @notificacoes, class: "pagination", previous_label: "<<", next_label: ">>", renderer: BootstrapPagination::Rails %>

<%= button_to 'Voltar', :back, :class => "btn btn-default", :method => :get %>