<div class="col-md-8" style="background-color:#F0F0F0;">
  <center><h4><b><br><br><%= link_to "Novas Notificações (#{@notificacoes.where(visualizado: false).size})", ler_notificacoes_path %><br><br></b></h4></center>
</div>
<div class="col-md-4" align="center" style="background-color:#0070a0; color:#FFFFFF">
  <h4><b><br><br>Próximas Aulas do Dia<br><br></b></h4>
</div>
<div class="col-md-8" style="background-color:#F9F9F9;">
  <center><br>
  <% if @notificacoes.where(visualizado: false).size > 0 %>
    <% @notificacoes.each do |notificacao| %>
      <% unless notificacao.visualizado %>
        <p><%= link_to notificacao.conteudo, {:controller => "funcionalidades", :action => "notificacao_lida", :id => notificacao.id}, id: "notificacao#{notificacao.id}", :remote => true %></p>
        <% content_for :js do %>
          $('#notificacao<%= notificacao.id %> ').bind('ajax:success', function(){
            $('#notificacao<%= notificacao.id %> ').remove();
          });
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <p>Não há novas notificações desde a sua última visita.</p>
  <% end %>
  </center>
  <br>
</div>
<div class="col-md-4" style="background-color:#007Fa0; color:#FFFFFF;">
  <center><br>
  <% controle = false %>
  <% if @aulas.size > 0 %>
    <% @aulas.each do |aula| %>
      <% if aula.horario.horario.strftime('%H:%M') > Time.now.strftime('%H:%M') %>
        <% controle = true %>
        <p><%= aula.horario.horario.strftime('%H:%M') %> - <%= aula.matricula.curso.nome %> - Professor <%= aula.horario.professor.nome %></p>
      <% end %>
    <% end %>
  <% end %>
  <% unless controle %>
    <p>Sem eventos programados.</p>
  <% end %>
  <br></center>
</div>