<div class="page-header">
  <h2>Valor de Boletos por Cliente - Mês <%= Date.today.month %>/<%= Date.today.year %></h2>
</div>

<%= form_tag request.path, :method => 'get' do %>
  <%= content_tag :label do %>
    <%= text_field_tag :search, params[:search], :class => "form-control" %>
  <% end %>
  <%= submit_tag 'Buscar', :class => "btn btn-primary" %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nº Cliente</th>
      <th>Nome</th>
      <th>Valor Mensal</th>
      <th>Matrículas</th>
      <th></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td></td>
      <td><b>Total:</b></td>
      <td><b><%= number_to_currency(@mensalidade_total) %></b></td>
      <td><b><%= @total_matriculas %></td>
    </tr>
  </tfoot>
  <tbody>
    <% @clientes.each do |cliente| %>
      <% dados_cliente = valor_matriculas_cliente (cliente) %>
      <% if dados_cliente[0] > 0 %>
        <tr>
          <td><%= cliente.id %></td>
          <td><%= cliente.nome %></td>
          <td><%= number_to_currency(dados_cliente[0]) %></td>
          <td><%= dados_cliente[1] %></td>
          <td><center><%= button_to "Visualizar Matrículas", cliente, :class => "btn btn-primary btn-xs", :method => :get  %></center></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= will_paginate @clientes, class: "pagination", previous_label: "<<", next_label: ">>", renderer: BootstrapPagination::Rails %>