<%= form_for(@horario, html: { class: "form-horizontal container", "role" => "form" }) do |f| %>
  <% if @horario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@horario.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @horario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <% if params[:professor_id] %>
      <%= f.hidden_field :professor_id, value: "#{params[:professor_id]}" %>
    <% else %>
      <%= f.hidden_field :professor_id %>
    <% end %>
    <%= f.label "Dia:", class: "col-sm-0 control-label" %><br />
    <%= f.select :dia, options_for_select([["Segunda","1-Segunda"],["Terça","2-Terça"],["Quarta","3-Quarta"],["Quinta","4-Quinta"],["Sexta","5-Sexta"],["Sábado","6-Sábado"]]), { include_blank: true }, class: "form-control" %>  
    <%= f.label "Horário:", class: "col-sm-0 control-label" %>
    <%= text_field :diferenciado, :horario, class: "form-control" %>
  </div>
  <div class="form-group" id="horario_div">
    <% if action_name == 'new' %>
      <%= f.select :horario, options_for_select([["08:10 até 09:00","08:10:00"],["09:00 até 09:50","09:00:00"],["09:50 até 10:40","09:50:00"],["10:40 até 11:30","10:40:00"],["11:30 até 12:20","11:30:00"],["14:00 até 14:50","14:00:00"],["14:50 até 15:40","14:50:00"],["15:40 até 16:30","15:40:00"],["16:30 até 17:20","16:30:00"],["17:20 até 18:10","17:20:00"],["18:10 até 19:00","18:10:00"],["19:00 até 19:50","19:00:00"],["19:50 até 20:40","19:50:00"],["20:40 até 21:30","20:40:00"]]), {}, {:multiple => true, class: "form-control"} %>
    <% else %>
      <%= f.select :horario, options_for_select([["08:10 até 09:00","08:10:00"],["09:00 até 09:50","09:00:00"],["09:50 até 10:40","09:50:00"],["10:40 até 11:30","10:40:00"],["11:30 até 12:20","11:30:00"],["14:00 até 14:50","14:00:00"],["14:50 até 15:40","14:50:00"],["15:40 até 16:30","15:40:00"],["16:30 até 17:20","16:30:00"],["17:20 até 18:10","17:20:00"],["18:10 até 19:00","18:10:00"],["19:00 até 19:50","19:00:00"],["19:50 até 20:40","19:50:00"],["20:40 até 21:30","20:40:00"]]), {include_blank: true}, class: "form-control" %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label "Habilitar Horário Diferenciado", class: "col-sm-0 control-label" %>
    <input type="checkbox" id="diferenciado_check">
  </div>
  <div class="form-group">
    <br /><%= f.submit "Cadastrar", class: "btn btn-primary" %>
  </div>
<% end %>
