<%= form_for(@horario, html: { class: "form-horizontal container", "role" => "form" }) do |f| %>
  <% if @horario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@horario.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @horario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.hidden_field :professor_id %>
    <%= f.label "Sala:", class: "col-sm-0 control-label" %><br />
    <%= f.collection_select :sala_id, disponibilidade_salas(@horario), :id, :nome, { prompt: 'Selecione a sala...' }, class: "form-control" %>
    <%= f.label "Professor:", class: "col-sm-0 control-label" %><br />
    <%= text_field(@horario,:professor, {class: "form-control", value: @horario.professor.nome, :readonly => true}) %>
    <%= f.label "Dia:", class: "col-sm-0 control-label" %><br />
    <%= f.text_field :dia, {class: "form-control", :disabled => true } %>
    <%= f.label "Horário:", class: "col-sm-0 control-label" %><br />
    <%= f.time_field :horario, {class: "form-control",:readonly => true} %>
  </div>
  <div class="form-group">
    <br /><%= f.submit "Cadastrar", class: "btn btn-default" %>
  </div>
<% end %>
