<h1>Lista de Horários</h1>

<table class="table">
  <thead>
    <tr>
      <th>Dia da Semana</th>
      <th>Horários</th>
      <th>Professor</th>
      <th>Aluno</th>
      <th>Curso</th>
      <th>Sala</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @horarios.order("dia, horario").each do |horario| %>
      <% horario.matriculas.each do |aluno| %>
        <tr>
          <td><%= horario.dia %></td>
          <td><%= horario.horario.to_s.slice(10..15) %></td>
          <td><%= horario.professor.nome %></td>
          <td><%= aluno.aluno.nome %></td>
          <td><%= aluno.curso.nome %></td>
          <td><%= horario.sala.nome unless horario.sala.nil? %></td>
          <td><%= button_to 'Atribuir uma sala', edit_horario_path(horario), :class => "btn btn-default btn-xs", :method => :get  %></td>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
