<%= form_for(@aluno, html: { class: "form-horizontal container", "role" => "form" }) do |f| %>
  <% if @aluno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aluno.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @aluno.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label "Vinculado ao Cliente:", class: "col-sm-0 control-label" %><br />
    <%= f.select :cliente_id, Cliente.all.collect {|c| [ c.nome, c.id ] }, { include_blank: true }, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Nome:", class: "col-sm-0 control-label" %><br />
    <%= f.text_field :nome, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Endereço:", class: "col-sm-0 control-label"  %><br />
    <%= f.text_field :endereco, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "RG:", class: "col-sm-0 control-label" %><br />
    <%= f.text_field :rg, class: "form-control" %>
  </div>
  <div class="form-group">
      <%= f.label "CPF:", class: "col-sm-0  control-label" %><br />
      <%= f.text_field :cpf, class: "form-control" %>
  </div>
  <div class="form-group">
      <%= f.label "Telefone:", class: "col-sm-0 control-label" %><br />
      <%= f.text_field :telefone, class: "form-control" %>
  </div>
  <div class="form-group">
      <%= f.label "Celular:", class: "col-sm-0 control-label" %><br />
      <%= f.text_field :celular, class: "form-control" %>
  </div>
  <div class="form-group">
    <br /><%= f.submit "Cadastrar", class: "btn btn-default" %>
  </div>
<% end %>
