<h1>Lista de Alunos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Aluno</th>
      <th>Telefone</th>
      <th>Celular</th>
      <th>Nº de Matrículas</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @alunos.each do |aluno| %>
      <tr>
        <td><%= aluno.nome %></td>
        <td><%= aluno.telefone %></td>
        <td><%= aluno.celular %></td>
        <td><%= aluno.matriculas.size %>
        <td><%= link_to 'Ver Ficha', aluno %></td>
        <td><%= link_to 'Editar', edit_aluno_path(aluno) %></td>
        <td><%= link_to 'Excluir', aluno, method: :delete, data: { confirm: "Tem certeza que deseja excluir o aluno #{aluno.nome}?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<b>Total de alunos cadastrados: <%= @alunos.size %></b>

<br /><br />

<%= link_to 'Cadastrar Novo Aluno', new_aluno_path %>
