<h1>Lista de Alunos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Aluno</th>
      <th>Telefone</th>
      <th>Celular</th>
      <th>Matrículas</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @alunos.each do |aluno| %>
      <tr>
        <td><%= aluno.nome %></td>
        <td><%= aluno.telefone %></td>
        <td><%= aluno.celular %></td>
        <td><%= aluno.matriculas.size %>
        <td><%= button_to "Abrir a Ficha", aluno, :class => "btn btn-default btn-xs", :method => :get %></td>
        <td><%= button_to "Editar Dados", edit_aluno_path(aluno), :class => "btn btn-default btn-xs", :method => :get %></td>
        <td><%= button_to "Excluir Aluno", aluno, :class => "btn btn-default btn-xs", :method => :delete, data: { confirm: "Tem certeza que deseja excluir o aluno #{aluno.nome}?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<b>Total de alunos cadastrados: <%= @alunos.size %></b>

<br /><br />

<%= button_to 'Cadastrar Novo Aluno', new_aluno_path, :class => "btn btn-default", :method => :get %>
