<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> <b><%= @aluno.nome.upcase %></b>
    </h3>
  </div>
    <ul class="list-group">
      <li class="list-group-item"><b>Matrícula nº:</b> <%= @aluno.id %></li>
      <li class="list-group-item"><b>Vinculado ao Cliente:</b> <%= Cliente.find(@aluno.cliente_id).nome %></li>
      <li class="list-group-item"><b>Endereço:</b> <%= @aluno.endereco %></li>
      <li class="list-group-item"><b>RG:</b> <%= @aluno.rg %></li>
      <li class="list-group-item"><b>CPF:</b> <%= @aluno.cpf %></li>
      <li class="list-group-item"><b>Telefone:</b> <%= @aluno.telefone %></li>
      <li class="list-group-item"><b>Celular:</b> <%= @aluno.celular %></li>
    </ul>
</div>

<div style="float: left; margin-right: 10px;">
  <%= button_to 'Editar Dados', edit_aluno_path(@aluno), :class => "btn btn-default", :method => :get %>
</div>
<div style="float: left; margin-right: 10px;">
  <%= button_to 'Voltar', alunos_path, :class => "btn btn-default", :method => :get %>
</div>
