<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> <b><%= @aluno.nome.upcase %></b>
    </h3>
  </div>
    <ul class="list-group">
      <li class="list-group-item"><b>Matrícula nº:</b> <%= @aluno.id %></li>
      <li class="list-group-item"><b>Vinculado ao Cliente:</b> <%= Cliente.find(@aluno.cliente_id).nome %></li>
      <li class="list-group-item"><b>Endereço:</b> <%= @aluno.endereco %></li>
      <li class="list-group-item"><b>Bairro:</b> <%= @aluno.bairro %></li>
      <li class="list-group-item"><b>Cidade:</b> <%= @aluno.cidade %></li>
      <li class="list-group-item"><b>Estado:</b> <%= @aluno.uf %></li>
      <li class="list-group-item"><b>CEP:</b> <%= @aluno.cep %></li>
      <li class="list-group-item"><b>RG:</b> <%= @aluno.rg %></li>
      <li class="list-group-item"><b>CPF:</b> <%= @aluno.cpf %></li>
      <li class="list-group-item"><b>E-mail:</b> <%= @aluno.email %></li>
      <li class="list-group-item"><b>Telefone:</b> <%= @aluno.telefone %></li>
      <li class="list-group-item"><b>Celular:</b> <%= @aluno.celular %></li>
      <li class="list-group-item"><b>Nascimento:</b> <%= I18n.l(@aluno.nascimento.to_date) %></li>
      <li class="list-group-item"><b>Nome do Pai:</b> <%= @aluno.pai %></li>
      <li class="list-group-item"><b>Nome da Mãe:</b> <%= @aluno.mae %></li>
      <li class="list-group-item"><b>Nacionalidade:</b> <%= @aluno.nacionalidade %></li>
      <li class="list-group-item"><b>Profissão:</b> <%= @aluno.profissao %></li>
    </ul>
</div>

<div style="float: left; margin-right: 10px;">
  <%= button_to 'Editar Dados', edit_aluno_path(@aluno), :class => "btn btn-default", :method => :get %>
</div>
<div style="float: left; margin-right: 10px;">
  <%= button_to 'Voltar', :back, :class => "btn btn-default", :method => :get %>
</div>
