<%= form_for(@user, html: { class: "form-horizontal container", "role" => "form" }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Usuário", class: "col-sm-0 control-label"  %><br />
    <%= f.text_field :username, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Senha", class: "col-sm-0 control-label"  %><br />
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Confirmação de Senha", class: "col-sm-0 control-label" %><br />
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <% if !current_user.nil? && current_user.nivel == "admin" || User.first.nil? %> 
    <div class="form-group">
      <%= f.label "Nível de Usuário", class: "col-sm-0 control-label"  %>
       <%= f.select :nivel, ["admin","professor","aluno","teste" ] , { }, class: "form-control" %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.submit "Cadastrar", class: "btn btn-default" %>
  </div>
<% end %>
