<div class="page-header">
  <h2>Lista de Usuários <small>// usuários cadastrados: <%= @users.size %></small></h2>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Usuário</th>
      <th>Senha Criptografada</th>
      <th>Salt</th>
      <th>Nível</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.crypted_password %></td>
        <td><%= user.salt %></td>
        <td><%= user.nivel %></td>
        <td><%= button_to 'Editar Perfil', edit_user_path(user), :class => "btn btn-primary btn-xs", :method => :get  %></td>
        <td><%= button_to 'Excluir', user, :class => "btn btn-primary btn-xs", :method => :delete, data: { confirm: "Tem certeza que deseja excluir o usuário #{user.username}?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to 'Criar Novo Usuário', new_user_path, :class => "btn btn-primary", :method => :get  %>
