<div class="page-header">
  <h2>Lista de Cursos <small>// cursos cadastrados: <%= Curso.all.size %></small></h2>
</div>

<%= form_tag request.path, :method => 'get' do %>
  <%= content_tag :label do %>
    <%= text_field_tag :search, params[:search], :class => "form-control" %>
  <% end %>
  <%= submit_tag 'Buscar', :class => "btn btn-primary" %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Curso</th>
      <th>Valor Mensal</th>
      <th>Nº de Anos</th>
      <th>Professores Vinculados</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cursos.each do |curso| %>
      <tr>
        <td><%= curso.nome %></td>
        <td><%= number_to_currency(curso.valor) %></td>
        <td><%= curso.anos %></td>
        <td><%= curso.professores.size %>
        <td><%= button_to "Abrir a Ficha", curso, :class => "btn btn-primary btn-xs", :method => :get %></td>
        <td><%= button_to "Editar Dados", edit_curso_path(curso), :class => "btn btn-primary btn-xs", :method => :get %></td>
        <td><%= button_to "Excluir Curso", curso, :class => "btn btn-primary btn-xs", :method => :delete, data: { confirm: "Tem certeza que deseja excluir o curso #{curso.nome}?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @cursos, class: "pagination", previous_label: "<<", next_label: ">>", renderer: BootstrapPagination::Rails %>

<br />

<%= button_to 'Cadastrar Novo Curso', new_curso_path, :class => "btn btn-primary", :method => :get %>
