<h1>Lista de Cursos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Curso</th>
      <th>Valor Mensal</th>
      <th>Nº de Semestres</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cursos.each do |curso| %>
      <tr>
        <td><%= curso.nome %></td>
        <td>R$ <%= curso.valor %></td>
        <td><%= curso.semestres %></td>
        <td><%= button_to "Abrir a Ficha", curso, :class => "btn btn-default btn-xs", :method => :get %></td>
        <td><%= button_to "Editar Dados", edit_curso_path(curso), :class => "btn btn-default btn-xs", :method => :get %></td>
        <td><%= button_to "Excluir Curso", curso, :class => "btn btn-default btn-xs", :method => :delete, data: { confirm: "Tem certeza que deseja excluir o curso #{curso.nome}?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<b>Total de cursos cadastrados: <%= @cursos.size %></b>

<br /><br />

<%= button_to 'Cadastrar Novo Curso', new_curso_path, :class => "btn btn-default", :method => :get %>
