<div class="page-header"></div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> <b><%= @curso.nome.upcase %></b>
    </h3>
  </div>
    <ul class="list-group">
      <li class="list-group-item"><b>Valor Mensal:</b> <%= @curso.basico? ? number_to_currency(@circular.valor_mensalidade) : number_to_currency(@circular.valor_profissionalizante) %></li>
      <li class="list-group-item"><b>Quantidade de Anos:</b> <%= @curso.anos %></li>
    </ul>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Professores Vinculados:</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% if (@professores = get_professores(@curso)).size > 0 %>
      <% @professores.each do |professor| %>
        <tr>
          <td><%= professor.nome %>
          <td><%= button_to 'Excluir', get_leciona(@curso.id,professor.id), :class => "btn btn-primary btn-xs", :method => :delete, data: { confirm: "Tem certeza que deseja excluir o vinculo com o professor #{professor.nome}?" } %></td>
        </tr>
      <% end %>
    <% else %>
      <tr><td>Ainda não há professores vinculados neste curso...</td></tr>
    <% end %>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Alunos Matriculados:</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% if @curso.matriculas.any? %>
      <% @curso.matriculas.each do |matricula| %>
        <tr>
          <td><%= matricula.aluno.nome %>
          <td><%= dia(matricula.horarios.first.dia) %></td>
          <td><%= hora(matricula.horarios.first.horario) %></td>
        </tr>
      <% end %>
    <% else %>
      <tr><td>Ainda não há professores vinculados neste curso...</td></tr>
    <% end %>
  </tbody>
</table>
  
<div style="float: left; margin-right: 10px;">   
  <%= button_to 'Vincular Professores', lecionar_path(curso_id: @curso.id), :class => "btn btn-primary", :method => :get %>
</div>
<div style="float: left; margin-right: 10px;"> 
  <%= button_to 'Editar', edit_curso_path(@curso), :class => "btn btn-primary", :method => :get  %> 
</div>
<br /><br />
<%= button_to 'Voltar', cursos_path, :class => "btn btn-default", :method => :get  %>
