<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Nome do Curso:</th>
      <th>Valor Mensal:</th>
      <th>Quantidade de Semestres:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @curso.nome %></td>
      <td><%= @curso.valor %></td>
      <td><%= @curso.semestres %></td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>Professor Vinculado:</th>
       <th></th>
      <th></th>
    </tr>
  </thead>

  <% @professores_vinculados = get_professores(@curso) %>

  <tbody>
    <% @professores_vinculados.each do |professor| %>
      <tr>
        <td><%= professor.nome %>
        <td><%= link_to 'Excluir', professor, method: :delete, data: { confirm: "Tem certeza que deseja excluir a professor #{professor.nome}?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Vincular Professor', new_cursos_professor_path(idcurso: @curso.id) %> |
<%= link_to 'Editar', edit_curso_path(@curso) %> |
<%= link_to 'Voltar', cursos_path %>
