<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Nome do Curso:</th>
      <th>Valor Mensal:</th>
      <th>Quantidade de Semestres:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @curso.nome %></td>
      <td><%= @curso.valor %></td>
      <td><%= @curso.semestres %></td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>Professores Vinculado:</th>
       <th></th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% get_professores(@curso).each do |professor| %>
      <tr>
        <td><%= professor.nome %>
        <td><%= link_to 'Excluir', get_leciona(@curso.id,professor.id), method: :delete, data: { confirm: "Tem certeza que deseja excluir o vinculo com o professor #{professor.nome}?" } %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<%= link_to 'Vincular Professor', lecionar_path(idcurso: @curso.id) %> |
<%= link_to 'Editar', edit_curso_path(@curso) %> |
<%= link_to 'Voltar', cursos_path %>
