<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> <b><%= @curso.nome.upcase %></b>
    </h3>
  </div>
    <ul class="list-group">
      <li class="list-group-item"><b>Valor Mensal:</b> R$ <%= @curso.valor %>0</li>
      <li class="list-group-item"><b>Quantidade de Anos:</b> <%= @curso.anos %></li>
    </ul>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Professores Vinculado:</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% if (@professores = get_professores(@curso)).size > 0 %>
      <% @professores.each do |professor| %>
        <tr>
          <td><%= professor.nome %>
          <td><%= button_to 'Excluir', get_leciona(@curso.id,professor.id), :class => "btn btn-default btn-xs", :method => :delete, data: { confirm: "Tem certeza que deseja excluir o vinculo com o professor #{professor.nome}?" } %></td>
        </tr>
      <% end %>
    <% else %>
      <tr><td>Ainda hรก professores vinculados neste curso...</td></tr>
    <% end %>
  </tbody>
</table>
  
<div style="float: left; margin-right: 10px;">   
  <%= button_to 'Vincular Professores', lecionar_path(curso_id: @curso.id), :class => "btn btn-default", :method => :get %>
</div>
<div style="float: left; margin-right: 10px;"> 
  <%= button_to 'Editar', edit_curso_path(@curso), :class => "btn btn-default", :method => :get  %> 
</div>
<br /><br />
<%= button_to 'Voltar', cursos_path, :class => "btn btn-default", :method => :get  %>
