<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Professor:</th>
      <th>Endereço:</th>
      <th>RG:</th>
      <th>CPF:</th>
      <th>Telefone:</th>
      <th>Celular:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @professor.nome %></td>
      <td><%= @professor.endereco %></td>
      <td><%= @professor.rg %></td>
      <td><%= @professor.cpf %></td>
      <td><%= @professor.telefone %></td>
      <td><%= @professor.celular %></td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr><th>Disponibilidades do Professor</th></tr>
    <tr>
      <th>Dia</th>
      <th>Horário</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <% @disponibilidades = get_disponibilidades(@professor.id) %>

  <tbody>
    <% @disponibilidades.each do |disponibilidade| %>
      <tr>
        <td><%= disponibilidade.dia %>
        <td><%= disponibilidade.horario.to_s.slice(10..15) %></td>
        <td><%= link_to 'Editar', edit_disponibilidade_path(disponibilidade) %></td>
        <td><%= link_to 'Excluir', disponibilidade, method: :delete, data: { confirm: "Tem certeza que deseja excluir a disponibilidade #{disponibilidade.horario}?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Controlar Disponibilidades', new_disponibilidade_path(professor_id: @professor.id) %> |
<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professores_path %>
