<div class="page-header">
  <h3>Vincular Professor ao Curso de <%= Curso.find(params[:curso_id]).nome %></h3>
</div>

<%= form_for(@leciona, html: { class: "form-horizontal container", "role" => "form" }) do |f| %>
  <% if @leciona.errors.any? %>
    <% flash.now[:alert] = "Erro ao tentar salvar as informações." %>
      <b style="color: red">Problemas encontrados: </b><br>
    <% @leciona.errors.full_messages.each do |msg| %>
      <li style="color: red"><b><%= msg %></b></li>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.hidden_field :curso_id, value: "#{params[:curso_id]}" %>
    <%= f.label "Professor:", class: "col-sm-0 control-label" %><br />
    <%= f.select :professor_id, Professor.all.collect {|p| [ p.nome,p.id ]} , { include_blank: true }, class: "form-control" %>
  </div>
  <div class="form-group">
    <br /><%= f.submit "Cadastrar", class: "btn btn-primary" %>
  </div>
<% end %>

<%= button_to 'Voltar', cursos_path, :class => "btn btn-primary", :method => :get %>

