<%= form_for(@leciona, html: { class: "form-horizontal", "role" => "form" }) do |f| %>
  <% if @leciona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@curso.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @leciona.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.hidden_field :curso_id, value: "#{params[:idcurso]}" %>
    <%= f.label "Professor:", class: "col-sm-0 control-label" %><br />
    <%= f.select :professor_id, Professor.all.collect {|p| [ p.nome,p.id ]} , { include_blank: true }, class: "form-control" %>
  </div>
  <div class="form-group">
    <div class="form-group">
    <br /><%= f.submit "Cadastrar", class: "btn btn-default" %>
  </div>
<% end %>

<%= link_to 'Back', :back %>

