<%= form_for(@professor, html: { class: "form-horizontal container", "role" => "form" }) do |f| %>
  <% if @professor.errors.any? %>
    <% flash.now[:alert] = "Erro ao tentar salvar as informações." %>
      <b style="color: red">Problemas encontrados: </b><br>
    <% @professor.errors.full_messages.each do |msg| %>
      <li style="color: red"><b><%= msg %></b></li>
    <% end %>
  <% end %>
  <div class="form-group">
    <%= f.label "Nome:", class: "col-sm-0 control-label" %><br />
    <%= f.text_field :nome, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Endereço:", class: "col-sm-0 control-label"  %><br />
    <%= f.text_field :endereco, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Bairro:", class: "col-sm-0 control-label"  %><br />
    <%= f.text_field :bairro, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Cidade:", class: "col-sm-0 control-label"  %><br />
    <%= f.text_field :cidade, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Estado:", class: "col-sm-0 control-label"  %><br />
    <%= f.text_field :uf, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "CEP:", class: "col-sm-0 control-label"  %><br />
    <%= f.text_field :cep, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "RG:", class: "col-sm-0 control-label" %><br />
    <%= f.text_field :rg, class: "form-control" %>
  </div>
  <div class="form-group">
      <%= f.label "CPF:", class: "col-sm-0  control-label" %><br />
      <%= f.text_field :cpf, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "E-mail:", class: "col-sm-0 control-label"  %><br />
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
      <%= f.label "Telefone:", class: "col-sm-0 control-label" %><br />
      <%= f.text_field :telefone, class: "form-control" %>
  </div>
  <div class="form-group">
      <%= f.label "Celular:", class: "col-sm-0 control-label" %><br />
      <%= f.text_field :celular, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Data da Nascimento:", class: "col-sm-0 control-label" %><br />
    <%= f.text_field :nascimento, class: "form-control" %>
  </div>
  <div class="form-group">
      <%= f.label "Nacionalidade:", class: "col-sm-0 control-label" %><br />
      <%= f.text_field :nacionalidade, class: "form-control" %>
  </div>
  <div class="form-group">
      <%= f.label "Nome do Pai:", class: "col-sm-0 control-label" %><br />
      <%= f.text_field :pai, class: "form-control" %>
  </div>
  <div class="form-group">
      <%= f.label "Nome da Mãe:", class: "col-sm-0 control-label" %><br />
      <%= f.text_field :mae, class: "form-control" %>
  </div>
  <div class="form-group">
      <%= f.label "Profissão:", class: "col-sm-0 control-label" %><br />
      <%= f.text_field :profissao, class: "form-control" %>
  </div>
  <div class="form-group">
      <%= f.label "Escolaridade:", class: "col-sm-0 control-label" %><br />
      <%= f.text_field :escolaridade, class: "form-control" %>
  </div>
  <div class="form-group">
    <br /><%= f.submit "Cadastrar", class: "btn btn-default" %>
  </div>
<% end %>
