<div class="page-header">
  <h2>Lista de Professores Inativos <small>// alunos inativos: <%= Professor.where(ativo: false).size %></small></h2>
</div>

<%= form_tag request.path, :method => 'get' do %>
  <%= content_tag :label do %>
    <%= text_field_tag :search, params[:search], :class => "form-control" %>
  <% end %>
  <%= submit_tag 'Buscar', :class => "btn btn-primary" %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Telefone</th>
      <th>Celular</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @inativos.each do |professor| %>
      <tr>
        <td><%= professor.nome %></td>
        <td><%= professor.cpf %></td>
        <td><%= professor.telefone %></td>
        <td><%= professor.celular %></td>
        <td><%= button_to 'Reativar', alterna_professor_path(professor), :class => "btn btn-primary btn-xs", :method => :get, data: { confirm: "Tem certeza que deseja reativar o professor #{professor.nome}?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @inativos, class: "pagination", previous_label: "<<", next_label: ">>", renderer: BootstrapPagination::Rails %>