<div class="page-header">
  <h2>Lista de Professores <small>// professores cadastrados: <%= Professor.where(ativo: true).size %></small></h2>
</div>

<%= form_tag request.path, :method => 'get' do %>
  <%= content_tag :label do %>
    <%= text_field_tag :search, params[:search], :class => "form-control" %>
  <% end %>
  <%= submit_tag 'Buscar', :class => "btn btn-primary" %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Celular</th>
      <th>Nº de Alunos</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @professores.each do |professor| %>
      <tr>
        <td><%= professor.nome %></td>
        <td><%= professor.telefone %></td>
        <td><%= professor.celular %></td>
        <% n_alunos = 0 %>
        <% professor.horarios.each do |horario| %>
          <% n_alunos += horario.matriculas.size %>
        <% end %>
        <td><%= n_alunos %>
        <td><%= button_to 'Abrir Ficha', professor, :class => "btn btn-primary btn-xs", :method => :get %></td>
        <td><%= button_to 'Editar Dados', edit_professor_path(professor), :class => "btn btn-primary btn-xs", :method => :get %></td>
        <td><%= button_to 'Excluir', alterna_professor_path(professor), :class => "btn btn-primary btn-xs", :method => :get, data: { confirm: "Tem certeza que deseja excluir o professor #{professor.nome}?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @professores, class: "pagination", previous_label: "<<", next_label: ">>", renderer: BootstrapPagination::Rails %>

<br />

<%= button_to 'Cadastrar Novo Professor', new_professor_path, :class => "btn btn-primary", :method => :get %>