<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> <b><%= @professor.nome.upcase %></b>
    </h3>
  </div>
    <ul class="list-group">
      <li class="list-group-item"><b>Endereço:</b> <%= @professor.endereco %></li>
      <li class="list-group-item"><b>RG:</b> <%= @professor.rg %></li>
      <li class="list-group-item"><b>CPF:</b> <%= @professor.cpf %></li>
      <li class="list-group-item"><b>Telefone:</b> <%= @professor.telefone %></li>
      <li class="list-group-item"><b>Celular:</b> <%= @professor.celular %></li>
    </ul>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Disponibilidade de Horários</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>Dia</th>
      <th>Horário</th>
      <th>Nº Alunos</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
 
  <tbody>
    <% @professor.horarios.order('dia,horario').each do |horario| %>
      <tr>
        <td><%= horario.dia %>
        <td><%= horario.horario.to_s.slice(10..15) %></td>
        <td><%= horario.matriculas.size %></td>
        <td><%= button_to 'Editar', edit_horario_path(horario), :class => "btn btn-default btn-xs", :method => :get %></td>
        <td><%= button_to 'Excluir', horario, :class => "btn btn-default btn-xs", :method => :delete, data: { confirm: "Tem certeza que deseja excluir a horario #{horario.horario}?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div style="float: left; margin-right: 10px;">
<%= button_to 'Controlar Horários', disponivel_path(professor_id: @professor.id), :class => "btn btn-default", :method => :get %>
</div>
<div style="float: left; margin-right: 10px;">
  <%= button_to 'Editar Dados', edit_professor_path(@professor), :class => "btn btn-default", :method => :get %>
</div>
<br /><br />
<%= button_to 'Voltar', professores_path, :class => "btn btn-default", :method => :get  %>