<div class="page-header"></div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> <b><%= @professor.nome.upcase %></b>
    </h3>
  </div>
    <ul class="list-group">
      <li class="list-group-item"><b>Endereço:</b> <%= @professor.endereco %></li>
      <li class="list-group-item"><b>Bairro:</b> <%= @professor.bairro %></li>
      <li class="list-group-item"><b>Cidade:</b> <%= @professor.cidade %></li>
      <li class="list-group-item"><b>Estado:</b> <%= @professor.uf %></li>
      <li class="list-group-item"><b>CEP:</b> <%= @professor.cep %></li>
      <li class="list-group-item"><b>RG:</b> <%= @professor.rg %></li>
      <li class="list-group-item"><b>CPF:</b> <%= @professor.cpf %></li>
      <li class="list-group-item"><b>E-mail:</b> <%= @professor.email %></li>
      <li class="list-group-item"><b>Telefone:</b> <%= @professor.telefone %></li>
      <li class="list-group-item"><b>Celular:</b> <%= @professor.celular %></li>
      <li class="list-group-item"><b>Nascimento:</b> <%= I18n.l(@professor.nascimento.to_date) %></li>
      <li class="list-group-item"><b>Nome do Pai:</b> <%= @professor.pai %></li>
      <li class="list-group-item"><b>Nome da Mãe:</b> <%= @professor.mae %></li>
      <li class="list-group-item"><b>Nacionalidade:</b> <%= @professor.nacionalidade %></li>
      <li class="list-group-item"><b>Profissão:</b> <%= @professor.profissao %></li>
      <li class="list-group-item"><b>Escolaridade:</b> <%= @professor.escolaridade %></li>
      <li class="list-group-item"><b>Valor da Aula:</b> <%= number_to_currency(@professor.valor_aula) %></li>
    </ul>
</div>

<div style="float: left; margin-right: 10px;">
  <%= button_to 'Controlar Horários', controlar_horarios_path(id: @professor.id), :class => "btn btn-primary", :method => :get %>
</div>

<div style="float: left; margin-right: 10px;">
  <%= button_to 'Lista de Alunos', listar_alunos_path(id: @professor.id), :class => "btn btn-primary", :method => :get %>
</div>

<div style="float: left; margin-right: 10px;">
  <%= button_to 'Editar Dados', edit_professor_path(@professor), :class => "btn btn-primary", :method => :get %>
</div>

<br /><br />
<%= button_to 'Voltar', professores_path, :class => "btn btn-default", :method => :get  %>