<%= form_for(@matricula, html: { class: "form-horizontal container", "role" => "form" }) do |f| %>
  <% if @matricula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@matricula.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @matricula.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Aluno:", class: "col-sm-0 control-label" %><br />
    <%= f.collection_select :aluno_id, Aluno.all, :id, :nome, { prompt: 'Selecione o aluno' }, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Curso:", class: "col-sm-0 control-label"  %><br />
    <%= f.collection_select :curso_id, Curso.all, :id, :nome, { prompt: 'Selecione o curso' }, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Ano do Curso:", class: "col-sm-0 control-label"  %><br />
    <%= f.collection_select :ano, [], nil, nil, { prompt: 'Primeiro selecione o curso...' }, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Valor Mensal", class: "col-sm-0 control-label"  %><br />
    <%= f.text_field :valor_mensal, { class: "form-control", :readonly => true }%>
  </div>
  <div class="form-group">
    <label>Professor do Curso</label><br />
    <%= collection_select(:professor, :id, [], :id, :nome, { prompt: 'Primeiro selecione o curso...' }, class: "form-control")%>
  </div>
  <%= fields_for(:pratica, @matricula.aulas.build) do |u| %>
    <div class="form-group">
      <%= u.label "Horário do Curso:", class: "col-sm-0 control-label" %><br />
      <%= u.hidden_field :matricula_id, value: Matricula.maximum(:id).to_i + 1 %>
      <%= u.collection_select :horario_id, [], :id, :horario, { prompt: 'Primeiro selecione o professor...' }, {class: "form-control"} %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label "Ano de Teoria", class: "col-sm-0 control-label"  %><br />
    <%= f.select :teoria_ano, options_for_select([["Formado em Teoria",0],["1º Ano",1],["2º Ano",2],["3º Ano",3]]), { prompt: "Selecione o ano de teoria..." }, class: "form-control" %>
  </div>
  <div class="form-group">
    <label>Professor de Teoria</label><br />
    <%= collection_select(:professor_teoria, :id, professores_teoria, :id, :nome, { prompt: 'Selecione o professor de teoria...'}, class: "form-control")%>
  </div>
  <%= fields_for(:teorica, @matricula.aulas.build) do |v| %>
    <div class="form-group">
      <%= v.label "Horário de Teoria:", class: "col-sm-0 control-label" %><br />
      <%= v.hidden_field :matricula_id, value: Matricula.maximum(:id).to_i + 1 %>
      <%= v.collection_select :horario_id, [], :id, :horario, { prompt: 'Primeiro selecione o professor de teoria...' }, {class: "form-control"} %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label "Data da Matrícula:", class: "col-sm-0 control-label" %><br />
    <%= f.date_select :data_matricula, {:order => [:day,:month,:year], :use_two_digit_numbers => true, :date_separator => '/'}, {class: "col-sm-0"} %>
  </div>
  <div class="form-group">
    <br /><%= f.submit "Cadastrar", class: "btn btn-default" %>
  </div>
<% end %>
