<%= form_for(@matricula, html: { class: "form-horizontal container", "role" => "form" }) do |f| %>
  <% if @matricula.errors.any? %>
      <% flash.now[:alert] = "Erro ao tentar salvar as informações." %>
      <b style="color: red">Problemas encontrados: </b><br>
      <% @matricula.errors.full_messages.each do |msg| %>
        <li style="color: red"><b><%= msg %></b></li>
      <% end %>
  <% end %>
  <div class="form-group">
    <%= f.label "Aluno:", class: "col-sm-0 control-label" %><br />
    <%= f.collection_select :aluno_id, Aluno.all, :id, :nome, { prompt: 'Selecione o aluno' }, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Instrumento Extra:", class: "col-sm-0 control-label"  %><br />
    <%= f.collection_select :curso_id, Curso.all, :id, :nome, { prompt: 'Selecione o curso' }, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Ano do Instrumento Extra:", class: "col-sm-0 control-label"  %><br />
    <%= f.collection_select :ano, [], nil, nil, { prompt: 'Primeiro selecione o curso...' }, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Valor Mensal", class: "col-sm-0 control-label"  %><br />
    <%= f.text_field :valor_mensal, { class: "form-control", :readonly => true, :value => 195.0 }%>
  </div>
  <div class="form-group">
    <label>Professor do instrumento extra:</label><br />
    <%= collection_select(:professor, :id, [], :id, :nome, { prompt: 'Primeiro selecione o curso...' }, class: "form-control")%>
  </div>
  <%= fields_for(:pratica, @matricula.aulas.build) do |u| %>
    <div class="form-group">
      <%= u.label "Horário do Instrumento Extra:", class: "col-sm-0 control-label" %><br />
      <%= u.hidden_field :matricula_id, value: Matricula.maximum(:id).to_i + 1 %>
      <%= u.collection_select :horario_id, [], :id, :horario, { prompt: 'Primeiro selecione o professor...' }, {class: "form-control"} %>
    </div>
  <% end %>
  <%= hidden_field :teorica, :horario_id %>
  <%= f.hidden_field :teoria_ano, value: 99 %>
  <div class="form-group">
    <%= f.label "Data da Matrícula:", class: "col-sm-0 control-label" %><br />
    <%= f.text_field :data_matricula, class: "form-control", value: (I18n.l Date.today) %>
  </div>
  <div class="form-group">
    <br /><%= f.submit "Cadastrar", class: "btn btn-default" %>
  </div>
<% end %>
