<%= form_for(@matricula, html: { class: "form-horizontal container", "role" => "form" }) do |f| %>
  <% if @matricula.errors.any? %>
      <% flash.now[:alert] = "Erro ao tentar salvar as informações." %>
      <b style="color: red">Problemas encontrados: </b><br>
      <% @matricula.errors.full_messages.each do |msg| %>
        <li style="color: red"><b><%= msg %></b></li>
      <% end %>
  <% end %>
  <div class="form-group">
    <%= f.label "Aluno:", class: "col-sm-0 control-label" %><br />
    <%= f.collection_select :aluno_id, Aluno.order('nome').where(ativo: true), :id, :nome, { prompt: 'Selecione o aluno' }, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Curso Principal:", class: "col-sm-0 control-label"  %><br />
    <div style="float: left; margin-right: 10px;">
      <%= f.collection_select :curso_id, Curso.order('nome'), :id, :nome, { prompt: 'Selecione o curso' }, class: "form-control" %>
    </div>
    <% if action_name == "edit" %>
    <div style="float: left; margin-right: 10px;">
      <b style="color: red">(<%= @matricula.curso.nome %>)</b>
    </div>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label "Ano do Curso Principal:", class: "col-sm-0 control-label"  %><br />
    <div style="float: left; margin-right: 10px;">
      <%= f.collection_select :ano, [], nil, nil, { prompt: 'Primeiro selecione o curso...' }, class: "form-control" %>
    </div>
    <% if action_name == "edit" %>
      <div style="float: left; margin-right: 10px;">
        <% unless @matricula.curso.nome == "Musicalização Infantil" %>
          <b style="color: red">(<%= @matricula.ano %>º Ano)</b>
        <% else %>
          <b style="color: red">
            <% case @matricula.ano %>
            <% when 1 %>
              (Baby)
            <% when 2 %>
              (First 1)
            <% when 2 %>
              (First 2)
            <% when 3 %>
              (Módulo 1)
            <% when 4 %>
              (Módulo 2)
            <% when 5 %>
              (Módulo 3)
            <% when 6 %>
              (Módulo 4)
            <% when 7 %>
              (Módulo 5)
            <% end %>
          </b>   
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label "Valor Mensal", class: "col-sm-0 control-label"  %><br/>
    <%= f.text_field :valor_mensal, { class: "form-control", :readonly => true }%>
    <%= f.hidden_field :desconto, value: Circular.where(vigente: true).first.desconto %>
    <input type="checkbox" id="destrava_valor" style="transform: scale(1.3)">
    <%= f.label "Destravar campo valor mensal", class: "col-sm-0 control-label" %><br/>
    <input type="checkbox" id="desconto_check" style="transform: scale(1.3)">
    <%= f.label "Aplicar Desconto", class: "col-sm-0 control-label" %><br/>
  </div>
  <div class="form-group">
    <label>Professor do curso Principal:</label><br />
    <div style="float: left; margin-right: 10px;">
      <%= collection_select(:professor, :id, [], :id, :nome, { prompt: 'Primeiro selecione o curso...' }, class: "form-control")%>
    </div>
    <% if action_name == "edit" && @matricula.aulas.size > 0 %>
    <div style="float: left; margin-right: 10px;">
      <b style="color: red">(<%= @matricula.aulas.first.horario.professor.nome %>)</b>
    </div>
    <% end %>
  </div>
  <%= fields_for(:pratica, @matricula.aulas.build) do |u| %>
    <div class="form-group">
      <%= u.label "Horário do Curso Principal:", class: "col-sm-0 control-label" %><br />
      <%= u.hidden_field :matricula_id, value: Matricula.maximum(:id).to_i + 1 %>
      <div style="float: left; margin-right: 10px;">
        <%= u.collection_select :horario_id, [], :id, :horario, { prompt: 'Primeiro selecione o professor...' }, {class: "form-control"} %>
      </div>
      <% if action_name == "edit" && @matricula.aulas.first.try(:horario) %>
        <div style="float: left; margin-right: 10px;">
          <b style="color: red">(<%= dia(@matricula.aulas.first.horario.dia) %> às <%= hora(@matricula.aulas.first.horario.horario) %>)</b>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="form-group" id="tipo_teoria_div">
    <%= f.label "Tipo de Teoria", class: "col-sm-0 control-label"  %><br />
    <div style="float: left; margin-right: 10px;">
      <%= select(:tipo,:teoria, options_for_select([["Teoria"],["Musicalização Infantil"]]), { prompt: "Selecione o tipo de teoria..." }, class: "form-control") %>
    </div>
    <% if action_name == "edit" && @matricula.aulas.first.try(:horario)  %>
    <div style="float: left; margin-right: 10px;">
      <% if @matricula.aulas.second.teoria %>
        <b style="color: red">(Teoria)</b>
      <% elsif @matricula.aulas.second.musicalizacao %>
        <b style="color: red">(Musicalização Infantil)</b>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="form-group" id="matricula_teoria_div">
    <%= f.label "Ano de Teoria", class: "col-sm-0 control-label" %><br />
    <div style="float: left; margin-right: 10px;">
      <%= f.select :teoria_ano, [], { prompt: "Selecione o tipo de teoria..." }, class: "form-control" %>
    </div>
    <% if action_name == "edit" && @matricula.aulas.first.try(:horario) && (@matricula.aulas.second.teoria || @matricula.aulas.second.musicalizacao) %>
    <div style="float: left; margin-right: 10px;">
      <b style="color: red">(<%= @matricula.teoria_ano %>)</b>
    </div>
    <% end %>
  </div>
  <div class="form-group" id="professor_teoria_div">
    <label>Professor de teoria</label><br />
    <div style="float: left; margin-right: 10px;">
      <%= collection_select(:professor_teoria, :id, [], :id, :nome, { prompt: 'Selecione o professor de teoria...'}, class: "form-control")%>
    </div>
    <% if action_name == "edit" && @matricula.aulas.first.try(:horario) && (@matricula.aulas.second.teoria || @matricula.aulas.second.musicalizacao) %>
    <div style="float: left; margin-right: 10px;">
      <b style="color: red">(<%= @matricula.aulas.second.horario.professor.nome %>)</b>
    </div>
    <% end %>
  </div>
  <%= fields_for(:teorica, @matricula.aulas.build) do |v| %>
    <div class="form-group" id="horario_teoria_div">
      <%= v.label "Horário de Teoria:", class: "col-sm-0 control-label" %><br />
      <%= v.hidden_field :teoria %>
      <%= v.hidden_field :matricula_id, value: Matricula.maximum(:id).to_i + 1 %>
      <div style="float: left; margin-right: 10px;">
        <%= v.collection_select :horario_id, [], :id, :horario, { prompt: 'Primeiro selecione o professor de teoria...' }, {class: "form-control"} %>
      </div>
      <% if action_name == "edit" && (@matricula.aulas.second.teoria || @matricula.aulas.second.musicalizacao) %>
      <div style="float: left; margin-right: 10px;">
          <b style="color: red">(<%= dia(@matricula.aulas.second.horario.dia) %> às <%= hora(@matricula.aulas.second.horario.horario) %>)</b>
      </div>
      <% end %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label "Data da Matrícula:", class: "col-sm-0 control-label" %><br />
    <% if action_name != "edit" %>
      <%= f.text_field :data_matricula, class: "form-control", value: (I18n.l Date.today) %>
    <% else %>
      <%= f.text_field :data_matricula, class: "form-control", value: (data(@matricula.data_matricula)) %>
    <% end %>
  </div>
  <div class="form-group">
    <br /><%= f.submit "Cadastrar", class: "btn btn-primary" %>
  </div>
<% end %>
