<%= form_for(@matricula, html: { class: "form-horizontal container", "role" => "form" }) do |f| %>
  <% if @matricula.errors.any? %>
      <% flash.now[:alert] = "Erro ao tentar salvar as informações." %>
      <b style="color: red">Problemas encontrados: </b><br>
      <% @matricula.errors.full_messages.each do |msg| %>
        <li style="color: red"><b><%= msg %></b></li>
      <% end %>
  <% end %>
  <div class="form-group">
    <%= f.label "Aluno:", class: "col-sm-0 control-label" %><br />
    <%= f.collection_select :aluno_id, Aluno.order('nome'), :id, :nome, { prompt: 'Selecione o aluno' }, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Curso Principal:", class: "col-sm-0 control-label"  %><br />
    <%= f.collection_select :curso_id, Curso.order('nome'), :id, :nome, { prompt: 'Selecione o curso' }, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Ano do Curso Principal:", class: "col-sm-0 control-label"  %><br />
    <%= f.collection_select :ano, [], nil, nil, { prompt: 'Primeiro selecione o curso...' }, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Valor Mensal", class: "col-sm-0 control-label"  %><br />
    <%= f.text_field :valor_mensal, { class: "form-control", :readonly => true }%>
    <%= f.hidden_field :desconto, value: Circular.where(vigente: true).first.desconto %>
  </div>
  <div class="form-group">
    <%= f.label "Aplicar Desconto", class: "col-sm-0 control-label"  %><br />
    <input type="checkbox" id="desconto_check"> Sim<br>
  </div>
  <div class="form-group">
    <label>Professor do curso Principal:</label><br />
    <%= collection_select(:professor, :id, [], :id, :nome, { prompt: 'Primeiro selecione o curso...' }, class: "form-control")%>
  </div>
  <%= fields_for(:pratica, @matricula.aulas.build) do |u| %>
    <div class="form-group">
      <%= u.label "Horário do Curso Principal:", class: "col-sm-0 control-label" %><br />
      <%= u.hidden_field :matricula_id, value: Matricula.maximum(:id).to_i + 1 %>
      <%= u.collection_select :horario_id, [], :id, :horario, { prompt: 'Primeiro selecione o professor...' }, {class: "form-control"} %>
    </div>
  <% end %>
  <div class="form-group" id="tipo_teoria_div">
    <%= f.label "Tipo de Teoria", class: "col-sm-0 control-label"  %><br />
    <%= select(:tipo,:teoria, options_for_select([["Teoria"],["Musicalização Infantil"]]), { prompt: "Selecione o tipo de teoria..." }, class: "form-control") %>
  </div>
  <div class="form-group" id="matricula_teoria_div">
    <%= f.label "Ano de Teoria", class: "col-sm-0 control-label"  %><br />
    <%= f.select :teoria_ano, [], { prompt: "Selecione o tipo de teoria..." }, class: "form-control" %>
  </div>
  <div class="form-group" id="professor_teoria_div">
    <label>Professor de teoria</label><br />
    <%= collection_select(:professor_teoria, :id, [], :id, :nome, { prompt: 'Selecione o professor de teoria...'}, class: "form-control")%>
  </div>
  <%= fields_for(:teorica, @matricula.aulas.build) do |v| %>
    <div class="form-group" id="horario_teoria_div">
      <%= v.label "Horário de Teoria:", class: "col-sm-0 control-label" %><br />
      <%= v.hidden_field :teoria %>
      <%= v.hidden_field :matricula_id, value: Matricula.maximum(:id).to_i + 1 %>
      <%= v.collection_select :horario_id, [], :id, :horario, { prompt: 'Primeiro selecione o professor de teoria...' }, {class: "form-control"} %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label "Data da Matrícula:", class: "col-sm-0 control-label" %><br />
    <%= f.text_field :data_matricula, class: "form-control", value: (I18n.l Date.today) %>
  </div>
  <div class="form-group">
    <br /><%= f.submit "Cadastrar", class: "btn btn-primary" %>
  </div>
<% end %>
