$('#pratica_horario_id').empty();
$('#pratica_horario_id').append( $('<option>Selecione um horário</option>'));
<% if @horarios.any? %>
	<% tem_horario = false %>
	<% @horarios.each do |horario| %>
	  <% if !horario.matriculas.any? %>
	  	<% tem_horario = true %>
	  	$('#pratica_horario_id').append($('<option value="<%= horario.id %>"><%= dia(horario.dia) %> - <%= hora(horario.horario) %></option>'));
	  <% elsif horario.matriculas.where(curso_id: params[:curso_id]).any? %>
	  	<% tem_horario = true %>
	  	$('#pratica_horario_id').append($('<option value="<%= horario.id %>"><%= dia(horario.dia) %> - <%= hora(horario.horario) %> - Classe</option>'));
	  <% end %>
	<% end %>
	<% unless tem_horario %>
		$('#pratica_horario_id').empty();
		$('#pratica_horario_id').append( $('<option>Sem horários disponíveis</option>'));
	<% end %>
<% else %>
	$('#pratica_horario_id').empty();
	$('#pratica_horario_id').append( $('<option>Sem horários disponíveis</option>'));
<% end %>