$('#teorica_horario_id').empty();
$('#teorica_horario_id').append( $('<option value>Selecione um horário</option>'));
<% if @horarios.any? %>
	<% tem_horario = false %>
	<% @horarios.each do |horario| %>
	  <% if !horario.matriculas.any? %>
	  	<% tem_horario = true %>
	  	$('#teorica_horario_id').append($('<option value="<%= horario.id %>"><%= dia(horario.dia) %> - <%= hora(horario.horario) %> até <%= hora(horario.horario+50*60) %></option>'));
	  <% elsif params[:tipo_teoria] == "Teoria" && horario.aulas.where(teoria: true).any? %>
	  	<% tem_horario = true %>
	  	$('#teorica_horario_id').append($('<option value="<%= horario.id %>"><%= dia(horario.dia) %> - <%= hora(horario.horario) %> até <%= hora(horario.horario+50*60) %> - Classe</option>'));
	  <% elsif params[:tipo_teoria] == "Musicalização Infantil" && horario.aulas.where(musicalizacao: true).any? %>
	  	<% tem_horario = true %>
	  	$('#teorica_horario_id').append($('<option value="<%= horario.id %>"><%= dia(horario.dia) %> - <%= hora(horario.horario) %> até <%= hora(horario.horario+50*60) %> - Classe</option>'));
	  <% end %>
	<% end %>
	<% unless tem_horario %>
		$('#teorica_horario_id').empty();
		$('#teorica_horario_id').append( $('<option value>Sem horários disponíveis</option>'));
	<% end %>
<% else %>
	$('#teorica_horario_id').empty();
	$('#teorica_horario_id').append( $('<option value>Sem horários disponíveis</option>'));
<% end %>