<div class="page-header">
  <h2>Lista de Matrículas Encerradas <small>// matrículas encerradas: <%= Matinativa.all.size %></small></h2>
</div>

<%= form_tag request.path, :method => 'get' do %>
  <%= content_tag :label do %>
    <%= text_field_tag :search, params[:search], :class => "form-control" %>
  <% end %>
  <%= submit_tag 'Buscar', :class => "btn btn-primary" %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Aluno</th>
      <th>Curso</th>
      <th>Ano</th>
      <th>Teoria</th>
      <th>Valor Mensal</th>
      <th>Data da Matrícula</th>
      <th>Data de Encerramento</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @inativas.each do |matricula| %>
      <tr>
        <td><%= matricula.aluno.nome %></td>
        <td><%= matricula.curso.nome %></td>
        <td><%= matricula.ano %>º Ano</td>
        <td><%= matricula.teoria_ano == 0 || matricula.teoria_ano == 99 ? "-" : "#{matricula.teoria_ano}º Ano" %></td>
        <td><%= number_to_currency(matricula.valor_mensal) %></td>
        <td><%= I18n.l(matricula.data_matricula.to_date) %></td>
        <td><%= text_field 'encerrada', matricula.id, value: I18n.l(matricula.termino_matricula.to_date), class: 'form-control', size: 10 %></td>
        <td><%= button_tag 'Alterar Encerramento', class: "btn btn-primary btn-xs", id: "encerrada_#{matricula.id}", name: matricula.id %></td>
        <td><%= button_to 'Reativar Matrícula', reativar_matricula_path(matricula), :class => "btn btn-primary btn-xs", :method => :get, data: { confirm: "Tem certeza que deseja reativar a matrícula nº #{matricula.id} - #{matricula.aluno.nome}?" } %></td>    
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @inativas, class: "pagination", previous_label: "<<", next_label: ">>", renderer: BootstrapPagination::Rails %>