<div class="page-header">
  <h2>Lista de Matrículas Inativas</h2>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Aluno</th>
      <th>Curso</th>
      <th>Ano</th>
      <th>Teoria</th>
      <th>Valor Mensal</th>
      <th>Data da Matrícula</th>
      <th>Encerramento da Matrícula</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @matriculas.each do |matricula| %>
      <tr>
        <td><%= matricula.aluno.nome %></td>
        <td><%= matricula.curso.nome %></td>
        <td><%= matricula.ano %>º Ano</td>
        <td><%= matricula.teoria_ano %>º Ano</td>
        <td><%= number_to_currency(matricula.valor_mensal) %></td>
        <td><%= I18n.l(matricula.data_matricula.to_date) %></td>
        <td><%= I18n.l(matricula.termino_matricula.to_date) %></td>
        <td><%= button_to 'Mostrar Perfil', matricula, :class => "btn btn-primary btn-xs", :method => :get %></td>
        <td><%= button_to 'Excluir', matricula, :class => "btn btn-primary btn-xs", :method => :delete, data: { confirm: "Tem certeza que deseja excluir a matricula do aluno #{matricula.aluno.nome}?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<b>Total de matrículas inativas: <%= @matriculas.size %></b>

<br /><br />

<%= button_to 'Cadastrar Nova Matrícula', new_matricula_path, :class => "btn btn-primary", :method => :get  %>
