<div class="page-header">
  <h2>Lista de Matrículas Ativas <small>// matrículas ativas: <%= Matricula.all.size %></small></h2>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nº</th>
      <th>Aluno</th>
      <th>Curso</th>
      <th>Ano</th>
      <th>Teoria</th>
      <th>Valor Mensal</th>
      <th>Data da Matrícula</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @matriculas.each do |matricula| %>
      <tr>
        <td><%= matricula.id %></td>
        <td><%= matricula.aluno.nome %></td>
        <td><%= matricula.curso.nome %></td>
        <td><%= matricula.ano %>º Ano</td>
        <td><%= matricula.teoria_ano == 0 || matricula.teoria_ano == 99 ? "-" : "#{matricula.teoria_ano}º Ano" %></td>
        <td><%= number_to_currency(matricula.valor_mensal) %></td>
        <td><%= I18n.l(matricula.data_matricula.to_date) %></td>
        <td><%= button_to 'Abrir Ficha', matricula, :class => "btn btn-primary btn-xs", :method => :get %></td>
        <td><%= button_to 'Editar Dados', edit_matricula_path(matricula), :class => "btn btn-primary btn-xs", :method => :get %></td>
        <td><%= button_to 'Encerrar', matricula, :class => "btn btn-primary btn-xs", :method => :delete, data: { confirm: "Tem certeza que deseja encerrar a matricula do aluno #{matricula.aluno.nome}?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @matriculas, class: "pagination", previous_label: "<<", next_label: ">>", renderer: BootstrapPagination::Rails %>

<br />

<%= button_to 'Cadastrar Nova Matrícula', new_matricula_path, :class => "btn btn-primary", :method => :get  %>
