<div class="page-header">
  <h2>Lista de Matrículas Ativas <small>// matrículas ativas: <%= Matricula.all.size %></small></h2>
</div>

<%= form_tag request.path, :method => 'get' do %>
  <%= content_tag :label do %>
    <%= text_field_tag :search, params[:search], :class => "form-control" %>
  <% end %>
  <%= submit_tag 'Buscar', :class => "btn btn-primary" %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Aluno</th>
      <th>Curso</th>
      <th>Ano</th>
      <th>Teoria</th>
      <th>Valor Mensal</th>
      <th>Data da Matrícula</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @matriculas.each do |matricula| %>
      <tr>
        <td><%= matricula.aluno.nome %></td>
        <td><%= matricula.curso.nome %></td>
        <td>
        <% if matricula.curso.nome == "Musicalização Infantil" %>
          <% case matricula.ano %>
              <% when 1 %>
                Baby
              <% when 2 %>
                First 1
              <% when 3 %>
                First 2
              <% when 4 %>
                Módulo 1
              <% when 5 %>
                Módulo 2
              <% when 6 %>
                Módulo 3
              <% when 7 %>
                Módulo 4
              <% when 8 %>
                Módulo 5
            <% end %>
        <% else %>
          <%= matricula.ano %>º Ano
        <% end %>
        </td>
        <td>
        <% if matricula.aulas.size == 1 && matricula.curso.nome == "Musicalização Infantil" || matricula.aulas.size > 1 && matricula.aulas.last.musicalizacao %>
          <% case matricula.teoria_ano %>
            <% when 1 %>
              Baby
            <% when 2 %>
              First 1
            <% when 3 %>
              First 2
            <% when 4 %>
              Módulo 1
            <% when 5 %>
              Módulo 2
            <% when 6 %>
              Módulo 3
            <% when 7 %>
              Módulo 4
            <% when 8 %>
              Módulo 5
          <% end %>
        <% else %>
          <%= matricula.teoria_ano == 0 || matricula.teoria_ano == 99 ? "-" : "#{matricula.teoria_ano}º Ano" %>
        <% end %>
        </td>
        <td><%= number_to_currency(matricula.valor_mensal) %></td>
        <td><%= I18n.l(matricula.data_matricula.to_date) %></td>
        <td><%= button_to 'Abrir Ficha', matricula, :class => "btn btn-primary btn-xs", :method => :get %></td>
        <td><%= button_to 'Editar Dados', edit_matricula_path(matricula), :class => "btn btn-primary btn-xs", :method => :get %></td>
        <td><%= button_to 'Encerrar', matricula, :class => "btn btn-primary btn-xs", :method => :delete, data: { confirm: "Tem certeza que deseja encerrar a matricula do aluno #{matricula.aluno.nome}?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @matriculas, class: "pagination", previous_label: "<<", next_label: ">>", renderer: BootstrapPagination::Rails %>

<br />

<div style="float: left; margin-right: 10px;">
  <%= button_to 'Cadastrar Nova Matrícula', new_matricula_path, :class => "btn btn-primary", :method => :get  %>
</div>
<div style="float: left; margin-right: 10px;">
  <%= button_to 'Rematricular Alunos', rematricular_path, :class => "btn btn-primary", :method => :get,  data: { confirm: "Tem certeza que deseja rematricular todos os alunos? A ação será irreversível." }%>
</div>