<% if request.original_url.include? "/matricula_nova" %>
  <h1>Matricular Aluno - Curso Principal e Teoria</h1>
  <%= render 'form' %>
<% elsif request.original_url.include? "/matricula_extra" %>
  <h1>Matricular Aluno - Instrumento Extra</h1>
  <%= render 'form_extra' %>
<% elsif request.env["HTTP_REFERER"].include? "/matricula_nova" %>
  <h1>Matricular Aluno - Curso Principal e Teoria</h1>
  <%= render 'form' %>
<% elsif request.env["HTTP_REFERER"].include? "/matricula_extra" %>
  <h1>Matricular Aluno - Instrumento Extra</h1>
  <%= render 'form_extra' %>
<% end %>

<%= button_to 'Voltar', matriculas_path, :class => "btn btn-default", :method => :get  %>
