<div class="page-header"><h2><b>Rematricular Base de Alunos</b></h2></div>
<div style="float: left; margin-right: 10px;">
  <h4><b>Circular Vigente:</b> <%= @circular.numero_circular %><br />
  <b>Mensalidade Curso Básico:</b> <%= number_to_currency(@circular.valor_mensalidade) %><br />
  <b>Mensalidade Curso Profissional:</b> <%= number_to_currency(@circular.valor_profissionalizante) %><br />
  <b>Mensalidade Instrumento Extra:</b> <%= number_to_currency(@circular.valor_extra) %></h4><br />
  <%= form_tag rematricular_base_path, :method => 'get' do %>
    <%= label_tag(:data, "Digite a data de início desejada para rematricular a base de alunos:") %>
    <%= text_field_tag :data, params[:data], :class => "form-control" %>
    <br />
    <div style="float: left; margin-right: 10px;">
      <%= button_tag 'Enviar', :class => "btn btn-primary" %>
    </div>
  <% end %>
  <div style="float: left; margin-right: 10px;">
    <%= button_to 'Voltar', matriculas_path, :class => "btn btn-default", :method => :get %>
   </div>
</div>