<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> <b>MATRÍCULA Nº <%= @matricula.id %></b>
    </h3>
  </div>
    <ul class="list-group">
      <li class="list-group-item"><b>Aluno:</b> <%= @matricula.aluno.nome %></li>
      <li class="list-group-item"><b>Curso:</b> <%= @matricula.curso.nome  %></li>
      <li class="list-group-item"><b>Professor:</b> <%= @matricula.horarios.first.professor.nome %></li>
      <li class="list-group-item"><b>Horário:</b> <%= hora(@matricula.horarios.first.horario) %></li>
      <li class="list-group-item"><b>Professor Teoria:</b> <%= @matricula.horarios.last.professor.nome %></li>
      <li class="list-group-item"><b>Horário Teoria:</b> <%= horario(@matricula.horarios.last.horario) %></li>
      <li class="list-group-item"><b>Ano do Curso:</b> <%= @matricula.ano %>º Ano</li>
      <li class="list-group-item"><b>Ano de Teoria:</b> <%= @matricula.teoria_ano %>º Ano</li>
      <li class="list-group-item"><b>Valor Mensal:</b> <%= number_to_currency(@matricula.valor_mensal) %></li>
      <li class="list-group-item"><b>Data da Matrícula:</b> <%= I18n.l(@matricula.data_matricula.to_date) %></li>
      <% if @matricula.termino_matricula %>
        <li class="list-group-item"><b>Data de Encerramento da Matrícula:</b> <%= I18n.l(@matricula.termino_matricula.to_date) %></li>
      <% end %>
    </ul>
</div>

<div style="float: left; margin-right: 10px;">
  <%= button_to 'Edit', edit_matricula_path(@matricula), :class => "btn btn-default", :method => :get %>
</div>
<div style="float: left; margin-right: 10px;">
<%= button_to 'Back', matriculas_path, :class => "btn btn-default", :method => :get %>
</div>