<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> <b>MATRÍCULA Nº <%= @matricula.id %></b>
    </h3>
  </div>
    <ul class="list-group">
      <li class="list-group-item"><b>Aluno:</b> <%= @matricula.aluno.nome %></li>
      <li class="list-group-item"><b>Curso:</b> <%= @matricula.curso.nome  %></li>
      <li class="list-group-item"><b>Professor:</b> <%= @matricula.horario.professor.nome %></li>
      <li class="list-group-item"><b>Horário:</b> <%= @matricula.horario.horario.to_s.slice(10..15)%></li>
      <li class="list-group-item"><b>Ano do Curso:</b> <%= @matricula.ano %>º Ano</li>
      <li class="list-group-item"><b>Valor Mensal:</b> <%= @matricula.valor_mensal %></li>
      <li class="list-group-item"><b>Data da Matrícula:</b> <%= @matricula.data_matricula.to_s.slice(0..9).to_date.to_formatted_s(:rfc822) %></li>
      <li class="list-group-item"><b>Data de Encerramento da Matrícula:</b> <%= @matricula.termino_matricula.to_s.slice(0..9).to_date.to_formatted_s(:rfc822) %></li>
    </ul>
</div>

<div style="float: left; margin-right: 10px;">
  <%= button_to 'Edit', edit_matricula_path(@matricula), :class => "btn btn-default", :method => :get %>
</div>
<div style="float: left; margin-right: 10px;">
<%= button_to 'Back', matriculas_path, :class => "btn btn-default", :method => :get %>
</div>