<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Aluno</th>
      <th>Curso</th>
      <th>Professor</th>
      <th>Horário</th>
      <th>Semestre</th>
      <th>Valor Mensal</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @matricula.aluno.nome %></td>
      <td><%= @matricula.curso.nome %></td>
      <td><%= @matricula.horario.professor.nome %></td>
      <td><%= @matricula.horario.horario.to_s.slice(10..15) %></td>
      <td><%= @matricula.semestre %></td>
      <td><%= @matricula.valor_mensal %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_matricula_path(@matricula) %> |
<%= link_to 'Back', matriculas_path %>
