<div class="page-header"></div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> <b>MATRÍCULA Nº <%= @matricula.id %></b>
    </h3>
  </div>
    <ul class="list-group">
      <li class="list-group-item"><b>Aluno:</b> <%= @matricula.aluno.nome %></li>
      <li class="list-group-item"><b>Vinculado ao Cliente:</b> <%= @matricula.aluno.cliente.id %> - <%= @matricula.aluno.cliente.nome %></li>
      <li class="list-group-item"><b>Curso Principal:</b> <%= @matricula.curso.nome  %></li>
      <li class="list-group-item"><b>Ano do Curso Principal:</b> <%= @matricula.ano %>º Ano</li>
      <li class="list-group-item"><b>Professor do Curso Principal:</b> <%= @matricula.aulas.first.horario.professor.nome %></li>
      <li class="list-group-item"><b>Dia do Curso Principal:</b> <%= dia(@matricula.aulas.first.horario.dia) %></li>
      <li class="list-group-item"><b>Horário do Curso Principal:</b> <%= hora(@matricula.aulas.first.horario.horario) %> até <%= hora(@matricula.aulas.first.horario.horario+50*60) %></li>
      <% tipo_teoria = "" %>
      <% if @matricula.aulas.last.teoria %>
        <% tipo_teoria = "Teoria" %>
      <% elsif @matricula.aulas.last.musicalizacao %>
        <% tipo_teoria = "Musicalização Infantil" %>
      <% end %>
      <li class="list-group-item"><b>Ano de <%= tipo_teoria %>:</b> 
      <% if @matricula.teoria_ano > 0 && @matricula.teoria_ano <= 8 %>
        <% if tipo_teoria == "Teoria" %>
          <%= "#{@matricula.teoria_ano}º Ano" %></li>
        <% else %>
          <% case @matricula.teoria_ano %>
          <% when 1 %>
            Baby
          <% when 2 %>
            First 1
          <% when 3 %>
            First 2
          <% when 4 %>
            Módulo 1
          <% when 5 %>
            Módulo 2
          <% when 6 %>
            Módulo 3
          <% when 7 %>
            Módulo 4
          <% when 8 %>
            Módulo 5
          <% end %>
        <% end %>
        <li class="list-group-item"><b>Professor <%= tipo_teoria %>:</b> <%= @matricula.aulas.last.horario.professor.nome %></li>
        <li class="list-group-item"><b>Dia da <%= tipo_teoria %>:</b> <%= dia(@matricula.aulas.last.horario.dia) %></li>
        <li class="list-group-item"><b>Horário <%= tipo_teoria %>:</b> <%= hora(@matricula.aulas.last.horario.horario) %> até <%= hora(@matricula.aulas.last.horario.horario+50*60) %></li>
      <% elsif @matricula.teoria_ano == 99 %>
        <%= "Instrumento Extra" %></li>
      <% else %>
        <%= "Formado em Teoria" %></li>
      <% end %>
      <li class="list-group-item"><b>Valor Mensal:</b> <%= number_to_currency(@matricula.valor_mensal) %></li>
      <li class="list-group-item"><b>Data da Matrícula:</b> <%= I18n.l(@matricula.data_matricula.to_date) %></li>
      <% if @matricula.termino_matricula %>
        <li class="list-group-item"><b>Data de Encerramento da Matrícula:</b> <%= I18n.l(@matricula.termino_matricula.to_date) %></li>
      <% end %>
    </ul>
</div>

<div style="float: left; margin-right: 10px;">
  <%= button_to 'Gerar Contrato', refaz_contrato_path(id: @matricula.id), :class => "btn btn-primary", :method => :post %>
</div>
<div style="float: left; margin-right: 10px;">
  <%= button_to 'Editar', edit_matricula_path(@matricula), :class => "btn btn-primary", :method => :get %>
</div>
<div style="float: left; margin-right: 10px;">
<%= button_to 'Voltar', matriculas_path, :class => "btn btn-default", :method => :get %>
</div>