<%= form_for(@circular, html: { class: "form-horizontal container", "role" => "form" }) do |f| %>
  <% if @circular.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@circular.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @circular.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Número da Circular:", class: "col-sm-0 control-label" %><br />
    <%= f.text_field :numero_circular, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Data da Circular:", class: "col-sm-0 control-label" %><br />
    <%= f.text_field :data_circular, class: "form-control", value: (@circular.data_circular ? data(@circular.data_circular) : '' ) %>
  </div>
  <div class="form-group">
    <%= f.label "Valor Mensal do Curso Básico:", class: "col-sm-0 control-label" %><br />
    <%= f.text_field :valor_mensalidade, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Valor Mensal do Curso Extra:", class: "col-sm-0 control-label" %><br />
    <%= f.text_field :valor_extra, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Valor Mensal do Curso Profissional:", class: "col-sm-0 control-label" %><br />
    <%= f.text_field :valor_profissionalizante, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Taxa de Matrícula:", class: "col-sm-0 control-label" %><br />
    <%= f.text_field :taxa_matricula, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Valor de Desconto:", class: "col-sm-0 control-label" %><br />
    <%= f.text_field :desconto, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Salário Padrão por Aula:", class: "col-sm-0 control-label" %><br />
    <%= f.text_field :salario_aula, class: "form-control" %>
  </div>
  <div class="form-group">
    <br /><%= f.submit "Cadastrar", class: "btn btn-primary" %>
  </div>
<% end %>
