<h2>Lista de Salas</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Sala</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @salas.each do |sala| %>
      <tr>
        <td><%= sala.nome %></td>
        <td><%= button_to 'Ver Utilização', sala, :class => "btn btn-default btn-xs", :method => :get %></td>
        <td><%= button_to 'Editar Dados', edit_sala_path(sala), :class => "btn btn-default btn-xs", :method => :get %></td>
        <td><%= button_to 'Excluir', sala, :class => "btn btn-default btn-xs", :method => :delete, data: { confirm: "Tem certeza que deseja excluir o sala #{sala.nome}?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<b>Total de salas cadastradas: <%= @salas.size %></b>

<br /><br />

<%= button_to 'Cadastrar Nova Sala', new_sala_path, :class => "btn btn-default", :method => :get  %>