<div class="page-header">
  <h2>Lista de Salas <small>// salas cadastradas: <%= Sala.all.size %></small></h2>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Sala</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @salas.each do |sala| %>
      <tr>
        <td><%= sala.nome %></td>
        <td><%= button_to 'Ver Utilização', sala, :class => "btn btn-primary btn-xs", :method => :get %></td>
        <td><%= button_to 'Editar Dados', edit_sala_path(sala), :class => "btn btn-primary btn-xs", :method => :get %></td>
        <td><%= button_to 'Excluir', sala, :class => "btn btn-primary btn-xs", :method => :delete, data: { confirm: "Tem certeza que deseja excluir o sala #{sala.nome}?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @salas, class: "pagination", previous_label: "<<", next_label: ">>", renderer: BootstrapPagination::Rails %>

<br />

<%= button_to 'Cadastrar Nova Sala', new_sala_path, :class => "btn btn-primary", :method => :get  %>