<div class="page-header"></div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> <b><%= @sala.nome.upcase %> - UTILIZAÇÃO</b>
    </h3>
  </div>
</div>

<% @horarios = get_horarios(@sala.id) %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Dia</th>
      <th>Horário</th>
      <th>Curso</th>
      <th>Professor</th>
      <th>Aluno</th>
    </tr>
  </thead>

  <tbody>
    <% if @horarios.size > 0 %>
      <% @horarios.each do |horario| %>
        <% horario.matriculas.each do |matricula| %>
          <tr>
            <td><%= dia(horario.dia) %>
            <td><%= hora(horario.horario) %></td>
            <td><%= matricula.curso.nome %></td>
            <td><%= horario.professor.nome %></td>
            <td><%= matricula.aluno.nome %></td>
          </tr>
        <% end %>
      <% end %>
    <% else %>
      <tr>
        <td>Esta sala ainda não tem aulas vinculadas a ela.</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
     </tr>
    <% end %>
  </tbody>
</table>

<div style="float: left; margin-right: 10px;">
  <%= button_to 'Editar', edit_sala_path(@sala), :class => "btn btn-primary", :method => :get %>
</div>
<div style="float: left; margin-right: 10px;">
  <%= button_to 'Voltar', salas_path, :class => "btn btn-primary", :method => :get %>
</div>