<!DOCTYPE html>
<html>
<head>
  <title>Conservatório Musical Heitor Villa Lobos - Santos/SP</title>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag("main") %>
</head>
<body style="padding-top: 30px;">
  
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
        <span class="sr-only">Altera Navegação</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <%= link_to "#Heitor Villa Lobos", inicial_path, class: "navbar-brand" %>
      </div>
      <% if current_user %>
        <%= render 'layouts/menu' %>
      <% end %>
     </div>
  </nav>

  <div class="container">
    <div class="row">
      <% if flash[:notice] %>
        <div class="page-header"></div>
        <p id="notice" class="alert alert-success" role="alert"><%= flash[:notice] %></p>
      <% end %> 
      <% if flash[:alert]%>
        <div class="page-header"></div>
        <p id="alert" class="alert alert-danger" role="alert"><%= flash[:alert] %></p>
      <% end %>
      <%= yield %>
    </div>
  </div>

  <script type="text/javascript">
    <%= yield :js %>
  </script>  
  
</body>
</html>
