<!DOCTYPE html>
<html>
<head>
  <title>Conservatório Musical Heitor Villa Lobos - Santos/SP</title>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <%= link_to "#Heitor Villa Lobos", inicial_path, class: "navbar-brand" %>
      </div>
      <% if current_user %>
        <%= render 'layouts/menu' %>
      <% end %>
     </div>
  </nav>

  <div class="container">
    <% if flash[:notice] %>
      <p id="notice" class="alert alert-success" role="alert"><%= flash[:notice] %></p>
    <% end %> 
    <% if flash[:alert]%>
      <p id="alert" class="alert alert-danger" role="alert"><%= flash[:alert] %></p>
    <% end %>
    <%= yield %>
  </div>
  
  <script type="text/javascript">
    <%= yield :js %>
  </script>  
</body>
</html>
